### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.txt

# dependencies
/**/node_modules

# testing
/coverage

# production
/**/dist
/**/build

# misc
.DS_Store

/**/.cache
/**/.parcel-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
